<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Jonathan Erez">

  <title>{% block title %} US Flights Analysis {% endblock %}</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">
  {% endblock %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  {% block navbar %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">US Flights Analysis</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <!-- <li>
          <a class="page-scroll" href="#motivation">Motivation</a>
        </li> -->
        <li>
          <a class="page-scroll" href="#data_analysis">Data Analysis</a>
        </li>
        <li>
          <a class="page-scroll" href="#model">Predictive Model</a>
        </li>
        <li>
          <a class="page-scroll" href="#nlp">Review a flight</a>
        </li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <li><a class="page-scroll" href="#temp">             </a></li>
        <!-- <li>
        <a class="page-scroll" href="#model">About me</a>
      </li> -->
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
{% endblock %}

<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>US Flights Analysis</h1>

        <h2>Analysis of more than 64 million flights</h2>
        <h2>Source: <a href ="http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time">Bureau of Transportation</a></h2>
        <img class="center-block" src="{{ url_for('static', filename='takeoff.jpg') }}" class="img-responsive">
        <br><br>
        <h3>For a detailed description of the analysis below, see this <a href="https://github.com/JE-/flights/blob/master/IATA_US_flights_analysis_je.ipynb">ipython notebook</a><br></h3><br>
      </div>
    </div>
  </div>
</section>

<!-- Data Analysis Section -->
<section id="data_analysis" class="data-analysis-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Data Analysis</h1>
        <br><br><br>
        <div class="col-md-6 brd">
          <h3>All 3376 airports</h3>
          <iframe width="100%" height="320" frameborder="0" src="https://jerez.cartodb.com/viz/05a3feac-e57a-11e5-813a-0e31c9be1b51/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
        <div class="col-md-6 brd">
          <br><br><br><br>
          <h4>The dataset contains all flights made within the US between 1987 to 2015.<br><br>
            There are 3376 airports overall in the dataset.
            <br><br>Lets look at flight pattern over the past decade.
          </h4>
        </div>
        <!-- <ul class="text-left">
      </ul> -->
    </div>
  </div>
  <br><br>
  <h3>Which airlines flew the most flights over the past 10 years? </h3><br>
  <img class="center-block" src="{{ url_for('static', filename='flights_plot_1.png') }}" class="img-responsive" alt="Cinque Terre" style="width:950px;height:500px">
  <h4>From the pattern above we can see that Southwest Airlines consistently fly the most flights
    over the years. That is somewhat <a href = "https://en.wikipedia.org/wiki/World%27s_largest_airlines">surprising</a>. <br>Does that mean they are the largest airline in the US? <br><br>
    Lets see what the flight patterns look like if we limit our analysis only to major airports.<br><br>
    We'll define major airports as the 20 busiest airports in the country (in 2015).
  </h4>
</div>
<h3>The 20 Busiest airports in the US are highlighted in purple</h3>
<h4>(Color bar indicates the number of flights in 2015)</h4>
<iframe width="100%" height="520" frameborder="0" src="https://jerez.cartodb.com/viz/9f4e9834-e578-11e5-a2b0-0e674067d321/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<br><br><br><br><br>
<h3>Which airlines flew the most flights between major airports in the past 10 years? </h3><br>
<img class="center-block" src="{{ url_for('static', filename='flights_plot_2.png') }}" class="img-responsive" alt="Cinque Terre" style="width:950px;height:500px">
<br>
<h4>Now the flight pattern looks a bit different.<br><br>
  From 2010, Delta seems to make the most flights between major airports in the country.
</h4><br><br><br><br><br><br><br>
<h2>Causes of flight delays in 2015</h2><br>
<h4>Overall 1.54% of flights were cancelled in 2015, and 21.3% were delayed for more than 10 minutes.<br>
  <br>Lets look at some of the causes for flight delays:<br><br>
  <img class="center-block" src="{{ url_for('static', filename='flights_plot_3.png') }}" class="img-responsive" alt="Cinque Terre" style="width:950px;height:500px">
</h4>
<h4><br>It seems that (a) the main cause of flight delays is weather-related,<br><br>
  and (b) most flight delays occured later in the day (so if you want to arrive on
  time, it is probably better to take a morning flight).<br>
</section>

<!-- Model Section -->
<section id="model" class="model-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Flights leaving NYC</h1><br>
        <br>
        <h4>Lastly, lets try to understand how weather affects flight delays in the NYC region.<br>
          <br>I downloaded daily weather for the NYC region from 2006 to 2015 from the <a href = "https://www.wunderground.com/weather/api/">Weather Undergrand API</a><br>
          <br>The weather data was then joined to a SQL query of all flights originating from
          one of the 3 major<br> airports in the NYC region, i.e. JFK, La Guardia, and Newark (see ipython notebook for details).<br><br>
          A random forest model was able to explain 92% of the variance in weather-delays,<br>
          and the most important features that contributed to the model perforance were the departure time, snow and visibility.</h4>
          <br><br><br>
          <img class="center-block" src="{{ url_for('static', filename='feature_importance.png') }}" class="img-responsive" style="width:700px;height:400px">

        </div>
      </div>
    </div>
  </section>

  <!-- NLP Section-->
  <section id="nlp" class="nlp-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>NLP Analysis</h1><br>

          <h2>Please enter your flight review:</h2>
          {% from "_formhelpers.html" import render_field %}
          <form method=post action="/results">
            <dl>
              {{ render_field(form.moviereview, cols='100', rows='10') }}
            </dl>
            <div>
              <input type=submit value='Submit review' name='submit_btn'>
            </div>
          </form>

          <div id="the-basics">
            <input class="typeahead" type="text" placeholder="States of USA">
          </div>

        </div>
      </div>
    </div>
  </section>

  {% block js_footer %}
  <!-- jQuery -->
  <!--href="{{ url_for('static', filename='js/jquery.js') }}"-->
  <!--<script src="http://bobo2.herokuapp.com/static/js/jquery.js"></script>-->
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <!--<script src="js/bootstrap.min.js"></script>-->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <!-- Scrolling Nav JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

  <script type='text/javascript'>

  var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
});

  </script>
  {% endblock %}

</body>

</html>
